h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #ffcb0c;
  margin: auto;
}

ul {
  list-style-type: none;
  background-color: #272759;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: white;
  margin: auto;
}

button {
  margin: 5px;
  background-color: #ffcb0c;
}

#image_container {
  width: 50%;
  margin-left: 20%;
  padding: 5%;
}

img {
  display: inline-block;
  margin: 3%; 
  height: 200px;
}

#chart {
  margin: auto;
  align-content: center;
}

