h1, ul {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

ul {
  list-style-type: none;
}

#image_container {
  width: 50%;
  margin-left: 20%;
  padding: 5%;
}

img {
  display: inline-block;
  margin: 3%; 
  height: 200px;
}

#chart {
  margin: auto;
  align-content: center;
}

